<div class="navbar">
  <div class="title">
    <h1>Memory</h1>
    <h2>Musics</h2>
    <h3>Bienvenue <b>{{currentUser.username}}</b></h3>
  </div>
  <div class="menu">
    <ul>
      <li>
        <h3 [routerLink]="['/acceuil']">Acceuil</h3>
        <hr>
        <h3 [routerLink]="['/ajout-musique']">Ajouter une musique</h3>
        <hr>
        <h3 [routerLink]="['/ma-musicothèque']">Musicothèque</h3>
        <hr>
        <h3 [routerLink]="['/creation-playlist']">Créer une playlist</h3>
        <hr>
        <h3 (click)="logout()">Déconnexion</h3>
      </li>
    </ul>
  </div>
</div>
