@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#navbar {
  height: 100%;
  width: 250px;
  border-right: 1px var(--secondary-color) solid;
}

#navbar.open {
  animation: openmenu 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes openmenu {
  from {
    left: -250px;
  }

  to {
    left: 0px;
  }
}

#navbar.close {
  animation: closemenu 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes closemenu {
  from {
    left: 0px;
  }

  to {
    left: -250px;
  }
}

.navbar-menu {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  padding-top: 20px;
}

.title img {
  height: 70px;
  width: 70px;
}

.title h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-color);
  font-size: 2.5rem;
}

.title h2 {
  margin: 0;
  font-size: 2.5rem;
  color: var(--secondary-color);
  font-family: 'Dancing Script', cursive;
}

.title h3 {
  padding-top: 30px;
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.title h3 b {
  color: var(--primary-color);
}

.menu {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu ul {
  height: 100%;
  padding: 0;
}

.menu li {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

hr {
  width: 80%;
  height: 1px;
  border: none;
  background-color: var(--primary-color);
  margin: 0;
}

.menu li h3 {
  font-size: 1.2rem;
  cursor: pointer;
  color: black;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  margin: 10px 0px 10px 0px;
}

.menu li h3 hr {
  margin-top: 5px;
  width: 0px;
}


.menu li h3:hover {
  color: var(--secondary-color);
}

.menu li h3:hover hr {
  animation: underline 1s;
  animation-fill-mode: forwards;
}

@keyframes underline {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.burger-menu {
  display: none;
}

#burger-button {
  width: 40px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#burger-button span {
  display: block;
  position: absolute;
  height: 6px;
  width: 90%;
  background: var(--secondary-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#burger-button span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger-button span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger-button span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger-button.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -5px;
  left: 8px;
}

#burger-button.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#burger-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  left: 8px;
}

@media screen and (min-width: 1921px) {}

@media screen and (max-width: 1024px) {
  #navbar {
    width: 300px;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: -250px;
    z-index: 1;
    background-color: white;
  }

  .burger-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    order: 1;
    width: 16%;
    padding-top: 25px;
  }

  .navbar-menu {
    width: 84%;
  }

  .title {
    height: 20%;
    margin-left: 48px;
  }

  .menu {
    margin-left: 48px;
  }

  .menu li h3 {
    font-size: 1.3rem;
    padding: 12px 0px 12px 0px;
  }

}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  .title {
    height: 40%;
  }

  .title img {
    height: 60px;
    width: 60px;
  }

  .title h1 {
    font-size: 2rem;
  }

  .title h2 {
    font-size: 2rem;
  }

  .title h3 {
    font-size: 1.2rem;
  }

  .menu li h3 {
    font-size: 1.1rem;
    padding: 10px 0px 10px 0px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    height: 30%;
  }
}

@media screen and (max-width: 480px) {
  #navbar {
    width: 200px;
    left: -165px;
  }

  @keyframes openmenu {
    from {
      left: -165px;
    }

    to {
      left: 0px;
    }
  }

  @keyframes closemenu {
    from {
      left: 0px;
    }

    to {
      left: -165px;
    }
  }

  #burger-button.open span:nth-child(1) {
    top: -3px;
    left: 0px;
  }


  #burger-button.open span:nth-child(3) {
    top: 17px;
    left: 0px;
  }

  #burger-button span {
    height: 4px;
  }

  .title {
    height: 30%;
    margin-left: 12px;
  }

  .title img {
    height: 55px;
    width: 55px;
  }

  .title h1 {
    font-size: 1.5rem;
  }

  .title h2 {
    font-size: 1.5rem;
  }

  .title h3 {
    font-size: 1rem;
  }

  .menu {
    margin-left: 12px;
  }

  .menu li h3 {
    font-size: 1rem;
    padding: 10px 0px 10px 0px;
  }
}
