<div id="navbar" class="test">
  <div class="burger-menu">
    <div id="burger-button" (click)="openMenu()" [ngClass]="open ? 'open' : ''">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="title">
      <img src="assets/headphones.png">
      <h1>Memory</h1>
      <h2>Musics</h2>
      <h3>Bienvenue <b>{{currentUser.username}}</b></h3>
    </div>
    <div class="menu">
      <ul>
        <li>
          <h3 [routerLink]="['/acceuil']">Acceuil
            <hr>
          </h3>

          <h3 [routerLink]="['/ajout-musique']">Ajouter une musique
            <hr>
          </h3>
          <h3 [routerLink]="['/ma-musicothèque']">Musicothèque
            <hr>
          </h3>

          <h3 [routerLink]="['/creation-playlist']">Créer une playlist
            <hr>
          </h3>

          <h3 (click)="logout()">Déconnexion
            <hr>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</div>
