<div class="add-music">
  <div class="navbar">
    <mmy-navbar></mmy-navbar>
  </div>
  <div class="add-form">
    <h1>C'est le moment de sauvegarder ta trouvaille !</h1>
    <h2>C'est ici que tu vas pouvoir sauvegarder tes musiques.</h2>
    <h2>Pour celà, il te suffit juste de copier/coller ton lien Youtube !</h2>
    <h3>Exemple : https://www.youtube.com/watch?v=dQw4w9WgXcQ</h3>
    <div class="arrow">
      <img src="assets/down-arrow.png">
    </div>
    <mmy-add-music-form (sendYoutubeVideoId)="saveVideoData($event)"></mmy-add-music-form>
  </div>
</div>
