<div class="dashboard">
  <div class="navbar">
    <mmy-navbar></mmy-navbar>
  </div>
  <div class="contents">
    <div class="videos dashboard-infos">
      <h1>Tes dernières nouveautés !</h1>
      <div class="list-video">
        <mmy-music-list [allMusic]="allMusic"></mmy-music-list>
      </div>
    </div>
    <div class="playlist dashboard-infos">
      <h1>Tes dernières playlists</h1>
      <div class="list-playlist">
        <mmy-playlist></mmy-playlist>
      </div>
    </div>
  </div>

</div>
