<div class="login-form">

  <div class="infos">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div>
        <label>
          Username:
          <input type="text" formControlName="username">
        </label>
      </div>
      <div>
        <label>
          Mot de passe:
          <input type="password" formControlName="password">
        </label>
      </div>
      <div class="login-button">
        <button mat-raised-button color="primary">Se connecter</button>
      </div>
    </form>
  </div>

  <div class="sign-button"></div>
</div>
