<div class="all-music">
  <div class="search-bar" *ngIf="!isDashboard">
    <div class="search-logo">
      <img src="/assets/search.png">
    </div>
    <mat-form-field class="search-field">
      <mat-label>Que cherches-tu ?</mat-label>
      <input matInput type="text" (keyup)="musicFilter()" [(ngModel)]="searchValue">
      <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mmy-music-card [musicToDisplay]="musicToDisplay" [isPlaylist]="isPlaylist" (playlistToSave)="playlistToSave($event)"
    [isMusicotheque]="isMusicotheque" (musicToDelete)="musicToDelete($event)">
  </mmy-music-card>
</div>
<div class="resume" *ngIf="musicsResume">
  <div class="close-button">
    <h2>Résumé de la playlist</h2>
    <img (click)="openCloseResume()" *ngIf="open" src="assets/close.png">
    <img (click)="openCloseResume()" *ngIf="!open" src="assets/download.png">
  </div>
  <div class="actual-playlist" *ngIf="open">
    <div class="music-playlist" *ngFor="let music of musicsResume; let i = index">
      <p>{{music.title}}<img (click)="deleteMusicPlaylist(i)" src="assets/close.png"></p>
    </div>
  </div>
</div>
