.create-playlist {
  display: flex;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(25, 250, 231, 0.7679446778711485) 0%, rgba(255, 255, 255, 1) 50%);
}

mmy-navbar {
  height: 100%;
}

.playlist-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 4px white solid;
}

.playlist-name h1 {
  margin-top: 50px;
  color: #2599FB;
}

.playlist-name form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.playlist-name input {
  height: 40px;
  width: 30%;
  border: none;
  text-align: center;
  border-bottom: 2px #2599FB solid;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2rem;
  color: #F97332;
}

.playlist-name input:focus {
  outline: none;
}

::placeholder {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #F97332;
}

.musics {
  max-width: 100%;
}
