<div class="signin-form">
  <div class="infos">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="signin-input">
        <input type="text" formControlName="firstname" placeholder="Prénom">
      </div>
      <div class="signin-input">
        <input type="text" formControlName="lastname" placeholder="Nom">
      </div>
      <div class="signin-input">
        <input type="email" formControlName="email" placeholder="Email">
      </div>
      <div class="signin-input">
        <input type="text" formControlName="username" placeholder="Username">
      </div>
      <div class="signin-input">
        <input type="password" formControlName="password" placeholder="Mot de passe">
      </div>
      <div class="signin-button">
        <button mat-raised-button color="primary">Inscrit toi maintenant !</button>
      </div>
    </form>
  </div>
  <div class="connexion">
    <h3 [routerLink]="['']">Déjà inscrit ? <b>Connecte toi ici !</b></h3>
  </div>
</div>
