.musicotheque {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar {
  height: 100%;
}

.musics {
  width: 100%;
  height: 100%;
}

.title {
  height: 8%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.title h1 {
  margin: 0;
  color: var(--primary-color);
  padding-left: 110px;
  font-size: 2rem;
}

.no-music {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.no-music h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.no-music b {
  color: var(--primary-color);
  cursor: pointer;
}

.all-music {
  height: 92%;
}

@media screen and (min-width: 1921px) {}

@media screen and (max-width: 1024px) {

  .navbar {
    width: 5%;
  }

  .musics {
    width: 95%;
  }

  .title {
    height: 5%;
  }

  .title h1 {
    font-size: 1.8rem;
  }

  .all-music {
    height: 95%;
  }

  .title h1 {
    padding-left: 55px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  .title {
    height: 10%;
  }

  .all-music {
    height: 90%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    height: 10%;
  }

  .all-music {
    height: 90%;
  }

  .title h1 {
    padding-left: 75px;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    width: 10%;
  }

  .musics {
    width: 90%;
  }

  .title h1 {
    font-size: 1.6rem;
    padding-left: 25px;
  }
}
