form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link-input {
  width: 70%;
  margin-bottom: 40px;
}

.link-input input {
  height: 40px;
  width: 90%;
  border: none;
  border-bottom: 1px #2599FB solid;
  background-color: rgba(255, 255, 255, 0);
}

::placeholder {
  font-size: 1rem;
}

.link-input span {
  margin-top: 10px;
}


.link-input span p {
  margin: 0;
  font-size: 1rem;
  color: red;
}

.validation-button button {
  font-size: 1.5rem;
}
