.music-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  height: 350px;
  width: 250px;
  margin: 25px 10px 0px 10px;
}

.thumbnail {
  position: relative;
  height: 225px;
  width: 255px;
}

.image {
  height: 100%;
  width: 100%;
}

.thumbnail img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
}

.play-logo {
  margin: 0;
  width: fit-content;
  position: absolute;
  bottom: auto;
  top: 80%;
  left: 2%;
}

.play-button {
  border: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
}

.play-button img {
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding-left: 5px;
}

.contents {
  display: flex;
  flex-direction: column;
  height: 35%;
}

.title {
  display: flex;
}

.title h3 {
  font-size: 1rem;
  margin: 0;
  color: #259AFA;
  padding-top: 20px;
}

.added {
  margin-top: 10px;
}

.added p {
  margin: 0;
  font-size: 0.9rem;
}

.add-music-playlist {
  height: 15%;
  display: flex;
  justify-content: center;
}

.add-music-playlist .mat-raised-button {
  background-color: #FA7332;
  color: white;
  text-align: center;
  height: 35px;
}
