.music-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 350px;
  width: 270px;
  margin: 25px 10px 0px 10px;
}

.thumbnail {
  position: relative;
  height: 230px;
  width: 270px;
}

.image {
  height: 100%;
  width: 100%;
}

.thumbnail img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
}

.play-logo {
  margin: 0;
  width: fit-content;
  position: absolute;
  bottom: auto;
  top: 80%;
  left: 2%;
}

.play-button {
  border: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
}

.play-button img {
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding-left: 5px;
}

.contents {
  display: flex;
  flex-direction: column;
  height: 35%;
}

.title {
  display: flex;
  min-height: 50%;
}

.title h3 {
  font-size: 1rem;
  margin: 0;
  color: black;
  padding-top: 15px;
  font-weight: 500;
}

.added {
  height: 10%;
}

.added p {
  margin: 0;
  font-size: 0.9rem;
}

.delete-musique {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.delete-musique p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

.add-music-playlist {
  height: 30%;
  display: flex;
  justify-content: center;
}

.add-music-playlist .mat-raised-button {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  height: 35px;
}

@media screen and (min-width: 1921px) {}

@media screen and (max-width: 1024px) {
  .music-cards {
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 900px;
    height: 400px;
    overflow-y: auto;
  }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}
